<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Andrew Kelley{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://s3.amazonaws.com/superjoe/blog-files/prism.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
    <style>
      .profile {
        text-align: center;
      }
      .profile ul {
        text-align: left;
        list-style: none;
        margin-top: 10px;
      }
      .profile li a {
        padding-left: 6px;
        color: #333333;
      }
      .profile a {
        color: #333333;
      }
      .profile h4 a:hover {
        text-decoration: none;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="span2 profile">
        <h4><a href="/">Andrew Kelley</a></h4>
        <a href="/">
        <img alt="" src="https://s3.amazonaws.com/superjoe/blog-files/profile-48x58.jpg" />
        </a>
        <ul>
          <li><i class="icon-rss-sign"></i><a href="/rss.xml">RSS Feed</a></li>
          <li><i class="icon-github-sign"></i><a href="https://github.com/superjoe30/">GitHub</a></li>
          <li><i class="icon-google-plus-sign"></i><a href="https://plus.google.com/101478459557336321712">Google+</a></li>
          <li><i class="icon-cloud"></i><a href="https://soundcloud.com/superjoe30">SoundCloud</a></li>
          <li><i class="icon-youtube-sign"></i><a href="http://www.youtube.com/user/superjoe30">YouTube</a></li>
          <li><i class="icon-gittip"></i><a href="https://www.gittip.com/superjoe30/">Tip Jar</a></li>
          <li><i class="icon-envelope-alt"></i><a href="mailto:superjoe30@gmail.com">Email</a></li>
        </ul>
      </div>
      <div class="span7">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
