{% extends "base.html" %}

{% block content %}
<h2>Posts</h2>
<ul class="unstyled">
  {% for post in posts %}
  <li>{{ post.date | date("Y M d") }} - <a href="post/{{ post.filename }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<h2>Projects</h2>
<div class="media">
  <a class="pull-left" href="http://groovebasin.com/">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/groovebasin-thumb.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Groove Basin</h4>
    <p>
    Music player server with a web-based user interface inspired by Amarok 1.4.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://github.com/andrewrk/chem">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/chem-logo.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">chem</h4>
    <p>
    canvas-based game engine and toolchain optimized for rapid development.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://github.com/andrewrk/waveform">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/waveform.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">waveform</h4>
    <p>
  Fast C program to generate the waveform image of an audio file. Also available as a Node.js module.
    </p>
  </div>
</div>
<ul class="unstyled" style="margin-top: 12px">
  <li>
  <a href="https://github.com/andrewrk/libgroove/">libgroove</a> - Audio dispatching library. Music player backend.
  </li>
  <li>
  <a href="https://github.com/andrewrk/naught">naught</a> -
  zero downtime deployment for your Node.js server using native cluster api
  </li>
  <li>
  <a href="https://github.com/andrewrk/mineflayer/">mineflayer</a> - Create Minecraft bots with a powerful, stable, and high level JavaScript API.
  </li>
</ul>
<h2>Games</h2>
<div class="media">
  <a class="pull-left" href="https://s3.amazonaws.com/superjoe/temp/face-the-music/index.html">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/face-the-music-title-small.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Face the Music</h4>
    <p>
    Rock your way out of being trampled by a mob of screaming fans.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/face-the-music/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/face-the-music">source</a>.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://s3.amazonaws.com/superjoe/temp/purgatory/index.html">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/purgatory-title-small.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Purgatory</h4>
    <p>
    Escape from the circles of hell. 7 hour game jam.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/purgatory/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/purgatory">source</a>.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://s3.amazonaws.com/superjoe/temp/pillagers/index.html">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/pillagers-title-small.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Pillagers!</h4>
    <p>
    Real Time Strategy game with space physics, made for <a href="http://www.ludumdare.com/compo/minild-44/?action=preview&uid=24697">7dRTS</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/pillagers/index.html">play in your browser</a>, check out the <a href="https://github.com/andrewrk/pillagers">source</a>, or read the
    <a href="post/pillagers-7drts-game-dev-journal.html">game development journal</a>.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://s3.amazonaws.com/superjoe/temp/dr-chemicals-lab/index.html">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/dr-chemicals-lab-title-small.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Dr. Chemical's Lab</h4>
    <p>
    arcade/simulation/multiplayer, made for <a href="http://pyweek.org/e/tboxthonton/">PyWeek #14</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/dr-chemicals-lab/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/dr-chemicals-lab">source</a>.
    </p>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="https://s3.amazonaws.com/superjoe/temp/lemming/index.html">
    <img class="media-object" src="https://s3.amazonaws.com/superjoe/blog-files/lemming-title-small.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Lemming</h4>
    <p>
    Side-scrolling platformer, made for <a href="http://pyweek.org/e/superjoe/">PyWeek #12</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/lemming/index.html">play in your browser</a>, check out the
    <a href="https://github.com/andrewrk/lemming-js">source</a>, or read the
    <a href="post/lemming-pyweek-12.html">game development journal</a>.
    </p>
  </div>
</div>
<h2>Websites</h2>
<ul class="unstyled">
  <li>
  <a href="http://truthfinder.org">truthfinder.org</a> - A
  platform where all sides of any debate can be fully fleshed out in
  an organized manner, so that any person seeking the truth can get
  an objective view.
  </li>

  <li>
  <a href="http://stinkomanlevels.com/">stinkomanlevels.com</a> -
  Upload, play, and rate custom
  <a href="http://www.homestarrunner.com/stinkogame/v7/stinkogame.html">Stinkoman: 20X6</a> levels.
  </li>
</ul>
{% endblock %}
