{% extends "base.html" %}

{% block head %}
<style type="text/css">
img.profile {
  width: 10em;
  float: left;
  padding: 1em;
}
h2 {
  padding: 0;
  margin: 0;
}
.dark {
  display: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
}
li {
  margin: 0;
  padding: 0.1em;
}
.thumbnail {
  float: left;
  clear: both;
  margin: 0 1em 2em 0;
  padding: 0;
}
.jam {
  clear:both;
}
@media (prefers-color-scheme: dark) {
  .dark {
    display: block;
  }
  .light {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<div style="max-width: 42em; margin: 0; padding: 0;">
  <img class="profile light" alt="Bright profile picture of Andrew" src="/img/profile-flowers.jpg">
  <img class="profile dark" alt="Dark profile picture of Andrew" src="/img/profile-cartopia.jpg">
  <h1 style="margin: 0; padding: 0.3em 0 0 0">Andrew Kelley</h1>
  <p>President and Lead Developer of <a href="https://ziglang.org/zsf">Zig Software Foundation</a>. Jack of all trades, master of one.</p>
  <p>
  <a href="mailto:andrew@ziglang.org">Email</a> |
  <a href="/rss.xml">RSS</a>
  </p>
</div>

<div style="clear:both; float:left; padding: 1em">
<h2>Posts</h2>
<ul>
  {% for post in posts %}
  <li>{{ post.date | date("Y M d") }} - <a href="post/{{ post.filename }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</div>

<div style="float: left; max-width: 34em">
<h2>Projects</h2>
<ul>
  <li>
  <a href="http://ziglang.org/">Zig</a> - a general-purpose programming language and toolchain for maintaining robust, optimal and reusable software.
  </li>
  <li>
  <a href="http://genesisdaw.org/">Genesis</a> - peer-to-peer collaborative digital audio workstation.
  </li>
  <li>
  <a href="http://libsound.io/">libsoundio</a> - C library providing cross-platform audio input and output for real-time and consumer software.
  </li>
  <li>
  <a href="https://github.com/andrewrk/groovebasin">Groove Basin</a> - Music player server with a web-based user interface.
  </li>
  <li>
  <a href="https://github.com/andrewrk/libgroove/">libgroove</a> - Audio dispatching library. Music player backend.
  </li>
  <li>
  <a href="https://github.com/andrewrk/naught">naught</a> -
  zero downtime deployment for your Node.js server using native cluster api
  </li>
  <li>
  <a href="https://github.com/andrewrk/mineflayer/">mineflayer</a> - Create Minecraft bots with a powerful, stable, and high level JavaScript API.
  </li>
  <li>
  <a href="https://github.com/andrewrk/waveform">waveform</a> - Command line tool written in C to perform transcoding and waveform generation.
  </li>
  <li>
  <a href="https://github.com/andrewrk/chem">chem</a> - canvas-based 2D game engine and toolchain optimized for rapid development.
  </li>
</ul>
<h2>Game Jams</h2>
<div class="jam">
  <a class="thumbnail" href="https://s3.amazonaws.com/superjoe/temp/face-the-music/index.html">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/face-the-music-title-small.png">
  </a>
  <div>
    <h4>Face the Music</h4>
    <p>
    Rock your way out of being trampled by a mob of screaming fans.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/face-the-music/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/face-the-music">source</a>.
    </p>
  </div>
</div>
<div class="jam">
  <a class="thumbnail" href="https://s3.amazonaws.com/superjoe/temp/purgatory/index.html">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/purgatory-title-small.png">
  </a>
  <div>
    <h4>Purgatory</h4>
    <p>
    Escape from the circles of hell. 7 hour game jam.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/purgatory/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/purgatory">source</a>.
    </p>
  </div>
</div>
<div class="jam">
  <a class="thumbnail" href="https://s3.amazonaws.com/superjoe/temp/pillagers/index.html">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/pillagers-title-small.png">
  </a>
  <div>
    <h4>Pillagers!</h4>
    <p>
    Real Time Strategy game with space physics, made for <a href="http://www.ludumdare.com/compo/minild-44/?action=preview&uid=24697">7dRTS</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/pillagers/index.html">play in your browser</a>, check out the <a href="https://github.com/andrewrk/pillagers">source</a>, or read the
    <a href="post/pillagers-7drts-game-dev-journal.html">game development journal</a>.
    </p>
  </div>
</div>
<div class="jam">
  <a class="thumbnail" href="https://s3.amazonaws.com/superjoe/temp/dr-chemicals-lab/index.html">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/dr-chemicals-lab-title-small.png">
  </a>
  <div>
    <h4>Dr. Chemical's Lab</h4>
    <p>
    arcade/simulation/multiplayer, made for <a href="http://pyweek.org/e/tboxthonton/">PyWeek #14</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/dr-chemicals-lab/index.html">play in your browser</a> or check out the <a href="https://github.com/andrewrk/dr-chemicals-lab">source</a>.
    </p>
  </div>
</div>
<div class="jam">
  <a class="thumbnail" href="https://s3.amazonaws.com/superjoe/temp/lemming/index.html">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/lemming-title-small.png">
  </a>
  <div>
    <h4>Lemming</h4>
    <p>
    Side-scrolling platformer, made for <a href="http://pyweek.org/e/superjoe/">PyWeek #12</a>.
    You can
    <a href="https://s3.amazonaws.com/superjoe/temp/lemming/index.html">play in your browser</a>, check out the
    <a href="https://github.com/andrewrk/lemming-js">source</a>, or read the
    <a href="post/lemming-pyweek-12.html">game development journal</a>.
    </p>
  </div>
</div>
<div class="jam">
  <a class="thumbnail" href="https://github.com/andrewrk/planetarius">
    <img src="https://s3.amazonaws.com/superjoe/blog-files/planetarius-title-small.png">
  </a>
  <div>
    <h4>Planetarius</h4>
    <p>
    Networked multiplayer arcade shooter, made for <a href="http://www.ludumdare.com/compo/ludum-dare-30/?action=preview&uid=24697">Ludum Dare 30</a>.
    You can check out the
    <a href="https://github.com/andrewrk/planetarius">source</a>.
    </p>
  </div>
  </div>
</div>
{% endblock %}
